body {
    background-color: #FFF8EA;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* Background Stripes */
.stripes-yellow-h {
    width: 100%;
    height: 60px;
    left: 93px;
    top: 0px;
    position: absolute;
    background: rgba(249, 204, 50, 0.40);
}
.stripes-orange-h {
    width: 100%;
    height: 60px;
    left: 93px;
    top: 60px;
    position: absolute;
    background: rgba(244, 71, 14, 0.40);
}
.stripes-red-h {
    width: 100%;
    height: 60px;
    left: 93px;
    top: 120px;
    position: absolute;
    background: rgba(225, 24, 34, 0.40);
}
.stripes-violet-h {
    width: 100%;
    height: 60px;
    left: 93px;
    top: 180px;
    position: absolute;
    background: rgba(164, 26, 65, 0.40);
}
.stripes-purple-h {
    width: 100%;
    height: 60px;
    left: 93px;
    top: 240px;
    position: absolute;
    background: rgba(112, 30, 71, 0.40);
}

/* Top Nav Bar */

.navBar img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: 5px 0 5px 10px; 
}
.logo {
    height: 100%;
    vertical-align: center;
}
.navBar {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    overflow: hidden;
    background-color: #3f3f3f;
}
ul {
    list-style-type: none;
    margin: auto;
}
li {
    display: inline;
}
li a {
    display: block;
    color: white;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    float: right;
}
li a.active {
    color: #30d6ff !important;
}
li a:hover:not(.active){
    color: #fab223;
}

/* Hero Section */
.hero {
    position: relative;
    padding-top: 90px;
    text-align: center;
    color: white;
}
.hero img {
    display: block;
    margin: auto;
    border-radius: 25px;
}
.heroText {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #3f3f3f;
}
.about {
    margin: auto;
    text-align: center;
    color: black;
    font-size: 20px;
    max-width: 450px;
    padding-top: 35px;
}
.emphasisText {
    color: #fab223;
    font-weight: bold;
}

/* Tables */

.tableWork {
    position: relative;
    padding-top: 90px;
}
table {
    position: relative;
    width: 60%;
    text-align: center;
    margin: auto;
    table-layout: fixed;
}
td {
    max-width: 150px;
}
td img {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(110, 110, 110);
}
.workTitle {
    font-size: 16;
    font-weight: bold;
    max-width: 125px;
}
.tableBody {
    text-align: left;
    font-size: 12px;
}

/* Body text */
.mainEmphasis {
    font-weight: bold;
}